{% extends "base_page.html" %}
{% load staticfiles %}

{% block content %}
<section class="dark-primary-color light-primary-color" style='text-align: center;'>
	<h1>Innovatiepartner van het onderwijs</h1>
	<h2>Thema's</h2>
    <center><div id=text-container>
        <h3>Why's</h3>
        <h4>De vraag van de samenleving</h4>
        <p> De wereld om ons heen verandert continue. Computers zijn inmiddels 
        een onderdeel geworden van het dagelijks leven. Van rekenening betalen
        en overheidsdiensten aanvragen tot het laatste nieuws of weerbericht,
        alles gaat digitaal. Steeds meer banen vereisen dus ook het gebruik van 
        ICT op een of meerdere vlakken</p>

        <img src="{% static "images/1A_internet.png" %}" alt="Internet"/>
        <br><br><br>

        <p>Deze nieuwe vorm van geletterdheid is dus essentieel geworden voor
        elke burger. Er is dus een groeiende noodzaak om toekomstige generaties 
        in staat te stellen tot effectief en verantwoord ICT gebruik.</p>

        <p> ICT biedt ook de mogelijkheid tot het automatiseren van steeds meer 
        taken. Deze groeiende automatisering zal ongetwijfeld voor zorgen dat 
        de verdelingen binnen de arbeidsmarkt verschuiven.</p>

        <img src="{% static "images/1A_automatisering.png" %}" alt="Automatisering"/> 
        <br><br><br>

        <p> Deze veranderingen betekenen dat er andere dingen zullen worden 
        verwacht van de werknemers van de toekomst. Een van de kerntaken van 
        het onderwijs is om leerlingen voor te bereiden om een onderdeel te 
        kunnen zijn van deze samenleving, maar hoe kun je leerlingen 
        voorbereiden op een toekomst waarvan wij nog niet weten hoe hij er zal 
        uitzien?</p>

        <h4>De vraag van de overheid en de sector</h4>
        In het sectorakkoord VO 2014-2017 worden een aantal centrale ambities
        uiteengezet.

        <h4>Trend in het onderwijs</h4>
       
        <img src="{% static "images/1C_10uur.png" %}" alt="10 uur"/>
        <br><br><br>

        <img src="{% static "images/1C_opbrengsten.png" %}" alt="Opbrengsten"/>
        <br><br><br>
        
        <img src="{% static "images/1C_ambitie.png" %}" alt="Ambitie"/>
        <br><br><br>

    </div></center>


</section>
{% endblock %}
